<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {{>header}}
    <form action="/delete_form" method="post">
        <p>Delete Quote with id:</p>
        <input type="text" id="id" name="Id">
        <input type="submit">
    </form>
</body>
</html>