<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {{>header}}
    <form action="get_all_form" method="post">
        <p>Here are all the Quotes</p>
        <input type="submit" value="Get All" name="Get_All_Button">
    </form>
</body>
</html>