<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {{>header}}
    <form action="/create_form" method="post">
        <p>Enter your Quote here</p>
        <textarea id="quote" rows="10" cols="20" name="Quote"></textarea>
        <p>From author:</p>
        <input type="text" id="author" name="Author">
        <input type="submit" value="Create">
    </form>
</body>
</html>