<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {{>header}}
    <form action="search_form" method="post">
        <p>Search for a Quote containing specific text</p>
        <textarea id="text" rows="10" cols="20" name="text"></textarea>
        <br>
        <input type="submit">
    </form>
</body>
</html>