<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=<device-width>, initial-scale=1.0">
    <title>Create</title>
</head>
<body>
    {{>header}}
    <form action="/update_form" method="post">
        <p>Enter the Quote's id</p>
        <input type="text" id="id" name="Id">
        <p>Update the Quote:</p>
        <textarea id="new_quote" rows="10" cols="20" name="Quote"></textarea>
        <input type="submit">
    </form>
</body>
</html>