<header>
    <h1>{{title}}</h1>
    <a href="./">Create</a>
    <a href="/update">Update Quote</a>
    <a href="/get">Get Quote</a>
    <a href="/delete">Delete Quote</a>
    <a href="/random">Random Quote</a>
    <a href="/get_all">Get All Quotes</a>
    <a href="/search">search Quote</a>
</header>
